.login-gradient-bg {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #141E30, #243B55);

  background-size: cover;
  background-size: 400% 400%;
  animation: gradientShift 15s ease infinite;
  font-family: 'Segoe UI', 'Roboto', sans-serif;
}


.login-form-card {
  background: rgba(30, 30, 60, 0.85);
  border-radius: 16px;
  padding: 2.5rem;
  box-shadow: 0 0 20px rgba(124, 58, 237, 0.4);
  width: 100%;
  max-width: 380px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  color: #fff;
  backdrop-filter: blur(12px);
  border: 1px solid rgba(174, 171, 179, 0.08);
    animation: fadeIn 1s ease-in-out;
  transition: transform 0.3s ease;
}

.login-form-card:hover {
  transform: scale(1.02);
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}

.login-heading {
  font-size: 2rem;
  text-align: center;
  background: linear-gradient(to right, #a855f7, #7c3aed);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  font-weight: bold;
}

.login-input {
  background-color: rgba(255, 255, 255, 0.06);
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 0.75rem 1rem;
  border-radius: 12px;
  color: #fff;
  font-size: 1rem;
  outline: none;
  transition: 0.3s;
  width: 90%;
}

.login-input::placeholder {
  color: #bbb;
}

.login-input:focus {
  border-color: #a855f7;
  background-color: rgba(255, 255, 255, 0.08);
}

.login-button {
  padding: 0.9rem 1rem;
  border-radius: 12px;
  border: none;
  background: linear-gradient(to right, #a855f7, #7c3aed);
  color: #fff;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
  
}

.login-button:hover {
  background: linear-gradient(to right, #9333ea, #6d28d9);
}
.login-button:hover {
  background: linear-gradient(135deg, #d776de, #00f2fe);
  transform: translateY(-2px);
  box-shadow: 0 12px 25px rgba(0, 242, 254, 0.5);
}


.login-input-wrapper {
  position: relative;
  width: 100%;
}

.error-text {
  position: absolute;
  right: 0;
  top: 100%;
  font-size: 12px;
  color: red;
  margin-top: 2px;
}
