.mainContainer {
 width:100vw;
 height: 100vh;
height: 100dvh;
background-color: rgb(181, 213, 181);
}
.createPasswordContainer {
    display: flex;
  height: 90%;
  width: 93%;
  background-color: white;
  border-radius: 25px;
  margin: auto ;
    position: relative;
  top: 5%;
}
.leftSection,.rightSection{
  width: 50%;
  height: 100%;
}
.rightSection{
 display: flex;
  justify-content: center; /* centers horizontally */
  align-items: center; 
}
.createImage{
   width: 50%;
}
 .createHeading{
    font-family: 'Poppins';
    color: #616874;
    font-size: 42px;
    text-align: center;
      font-weight:500;
      padding-top: 10vh;
      padding-bottom: 5vh;
  }
  .passwordInput{
      background-color: white;
    width: 53%;
    height: 5vh;
    border: 1px solid black;
    opacity: 0.5;
    border-radius: 10px;
    color: black;
    padding-left: 15px;
    margin-top: 5%;
  }
   .createButton{
     height: 5vh;
     margin-top: 5%;
     outline: none;
     border: none;
    width: 53%;
    background-color: rgb(54, 129, 39);
}
.boxItems {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10vh;
  
}
 @media (min-width:768px) and (max-width: 1024px){
   .createHeading{
    font-size: 32px;
  }
  .createImage{
   width: 60%;
}
 }
 @media (min-width:480px) and (max-width: 768px){
 .createPasswordContainer{
  display: flex;
  flex-direction: column;
 }
 .leftSection,.rightSection{
 width: 100%;
  height: 100dvh;
   height: 100vh;
   box-sizing: border-box;
 }
  .createHeading{
      padding-top: 10vh;
      padding-bottom: 0vh;
  }
  .createImage{
   width: 35%;
}
 }
  @media (min-width:320px) and (max-width: 480px){
    .createPasswordContainer{
  display: flex;
  flex-direction: column;
 }
 .leftSection,.rightSection{
 width: 100%;
  height: 100dvh;
   height: 100vh;
   box-sizing: border-box;
 }
  .createHeading{
    font-size: 25px;
  }
    .createHeading{
      padding-top: 10vh;
      padding-bottom: 0vh;
  }
  .boxItems {
  padding-top: 7vh;
  
}
  }
  @media (min-width: 800px) and (max-width: 1100px) and (min-height: 1050px) and (max-height: 1400px) {
        .createPasswordContainer{
  display: flex;
  flex-direction: column;
 }
 .leftSection,.rightSection{
 width: 100%;
  height: 100dvh;
   height: 100vh;
   box-sizing: border-box;
 }
   .createHeading{
    font-size: 52px;
  }
    .createHeading{
      padding-top: 10vh;
      padding-bottom: 0vh;
  }
    .createImage{
   width: 35%;
}
  }
  /* 8/6/2025 */
/* body {
  overflow: hidden;
}
.mainContainer {
 width:100vw;
  height: 100vh;
background-color: rgb(181, 213, 181);
  padding: 20px;
}

.createPasswordContainer {
  background-color: #ffffff;
  display: flex;
  margin: auto;
  
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 94vw;
  min-height: 93.6vh;
}
.leftSection {
  flex: 1;

  padding: 20px;
 border-top-left-radius: 16px;
  border-bottom-left-radius: 16px;
   display: flex;
  flex-direction: column;
  justify-content: center;
}

.rightSection {
  flex: 1;
  
  padding: 20px;
   border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
}
.createHeading {
  font-size: 3vw;
  color: #868585;
  text-align: center;
  margin-bottom: 20%;
  margin-top: -20%;
   font-family: 'Arial', sans-serif;
}

.passwordInput {
  width: 60%;
  height: 45px;
  margin: 0 auto 30px auto;
  padding: 0 15px;
  border-radius: 8px;
  border: 1px solid #aaa;
  font-size: 1.2vw;
  outline: none;
  background-color: white;
  /* opacity: 0.7; */
  /* color: black;
}

.passwordInput:focus {
  border-color:rgb(54, 129, 39);
  /* opacity: 1; */
  /* color: black;
}

.createButton {
  width: 60%;
  height: 50px;
  margin: 0 auto;
 background-color: rgb(54, 129, 39);
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 1.2vw;
  cursor: pointer;
}

.createButton:focus{
  outline: none;
}
.createImage {
  width:50%;
  height: auto;
  border-radius: 16px;
  margin-left: 20%;
  margin-top: 20%;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
} */
/* @media (min-width: 1100px) and (max-width: 1200px){
 
  .createImage {
  width:50%;
  height: auto;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: 30%;
}
.mainContainer {
 width:96.6vw;
 margin-right: 5%;
 height: 93vh;
}
.createPasswordContainer {
  min-height: 94vh;
}
 } */ 
  /*  @media (min-width: 900px) and (max-width: 1000px){
  .createImage {
  width:50%;
  height: auto;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: 40%;
}
 }
 @media (min-width: 800px) and (max-width: 900px){

  .createImage {
  width:60%;
  height: auto;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: 50%;
}
 }
  @media (min-width:700px) and (max-width: 800px){
  
  .createImage {
  width:70%;
  height: auto;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: 60%;
}
 }
  @media (min-width: 600px) and (max-width: 700px){
 
  .createImage {
  width:70%;
  height: auto;
  border-radius: 16px;
  margin-left: 10%;
  margin-top: 60%;
}
 } */