* {
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.Profile-Parent {
  width: 100vw;
  color: black;
  
}



.Profile-profile-banner {
  background-image: url('/images/profile_background.jpg');
  background-size: cover;     
  background-position: center;  
  background-repeat: no-repeat; 
  width: 100%; 
  height: 50vh;                 
}



.Profile-edit-button {
  /* position: absolute; */
  background-color: transparent;       
  /* position: absolute; */
  /* top:200px; */
  
  /* right: 400px; */
  padding: 8px 8px;
  white-space: nowrap;    /* prevents text from wrapping */
  /* width: auto;         */
  /* min-width: 0;   */
  /* z-index: 10; */
  color: white;
  border-color: white;
  border-width: 2px;
  cursor: pointer;
  /* margin-left: 190px; */
  /* margin-right: -190px; */
  
}


.Profile-profile-image-container {
  position: relative;
  width: 150px;
  margin-top: -60px; 
  margin-left: 180px;
}


.Profile-profile-image-container img {
  width: 160px;
  height: 160px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid white; 
  
}


.Profile-profile-heading h2{
  margin-top: 30px;
  padding-left: 190px;
}


.Profile-profile-details-box {
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 10px;
  margin: 10px 190px;
  background-color: #f9f9f9;
}


.Profile-details-row {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 15px;
}


.Profile-detail-item {
  display: flex;
  flex-direction: column;
  min-width: 260px;
}


.Profile-label {
  font-weight: bold;
  margin-bottom: 5px;
}

.Profile-value {
  color: #333;
}

.Profile-profile-heading{
  z-index: 1;
  margin-bottom: -1%;
}