/* Existing styles - unchanged */
.Register-Parent {
  background-color: rgb(181, 213, 181);
  margin: 0;
  display: flex; 
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
   
}

.Register-input{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-left: 16%;
  gap: 3vh;
}

.Register-page-container {
  background-color: white;
  border-radius: 30px;
  width: 95vw;
  height: 90vh;
  margin: 0 auto;
  display: flex;
  
}

.Register-form-section {
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  
}

.Register-form-section h1 {
  color: rgb(89, 85, 85);
  text-align: center;
  font-weight:500;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 10%;
}

.Register-form-section input {
  background-color: white;
  color: black;
  height: 35px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  
}

.Register-form-section button {
  background-color: rgb(70, 166, 70);
  width: 410px;
}
     
.Register-form-section p {
  color: black;
  padding-left: 12%;
}

.Register-form-section a {
  color: rgb(70, 166, 70);

}

.Register-image-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width:65%;
}

.Register-image-section img {
 width: 70%;
}


@media (min-width:1024px) and (max-width:1200px) {
  .Register-form-section input {
    width: 100%;
  }

  .Register-form-section button {
    width: 250px;
  }

  .Register-form-section p {
    font-size: 14px;
  }
  .Register-form-section h1 {
    font-size: 35px;
  }
}
 

@media (min-width:768px) and (max-width:1024px) {
  
  .Register-form-section button {
    width: 230px;
    height: 35px;
    padding: 0;
  }

  .Register-form-section h1 {
    font-size: 34px;
  }
  .Register-form-section p {
    font-size: 14px;
    padding-left: 37px;
  }
}

@media (min-width:480px) and (max-width:768px) {

  .Register-form-section {
    width: 100%;
    height:60%;
  }

  .Register-form-section input {
    width: 100%;
    /* padding-left: 20px; */
  }

  .Register-form-section p {
    font-size: 14px;
    padding-left: 12px;
  }

   .Register-form-section button {
    width: 240px;
    margin-left: 20px;
    height: 32px;
    margin-bottom: 4px;
    padding:0;
  }

  
  .Register-image-section {
    width:100%;
    height: 50%;
  }

  .Register-image-section img {
   width: 55%;
   margin-bottom: 5%;
   
  }

  .Register-form-section input {
    margin: 8px;
    height: 30px;
  }

  .Register-form-section h1 {
    font-size: 34px;
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 4vh;
}

  .Register-page-container {
    flex-direction: column;
  
}


.Register-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  gap: 1vh;

}


.Register-form-section input {
  padding-left: 0px;
  
}
}

@media (min-width:0px) and (max-width:480px) {
 .Register-form-section {
    width: 100%;
    height:70%;
  }

  .Register-form-section input {
    width: 100%;
  }

   .Register-form-section button {
    width: 220px;
    margin-left: 20px;
    padding-bottom: 5px;
    padding-top: 5px;
  }

  
  .Register-image-section {
    width:100%;
  }

  .Register-image-section img {
   width: 65%;
   margin-bottom: 10%;
   
  }

  .Register-form-section input {
    margin: 8px;
    
  }

  .Register-form-section h1 {
    padding: 0;
    padding-top: 5vh;
    padding-bottom: 2vh;
    font-size: 33px;
}

  .Register-form-section p {
    font-size: 14px;
    padding-left: 10px;
  }

  .Register-page-container {
    flex-direction: column;
}


.Register-input{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  gap: 1vh;
  padding-bottom: 5px;
  padding-top: 5px;
}
}















